main {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.algorithmDetails {
  width: 80%;
  margin-top: 80px;
}

.algoDetailsNavbar {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.algoDetailsNavbar .backButton {
  border: 0px;
  background-color: white;
  margin-left: 5%;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.algoDetailsNavbar .backButton:hover {
  /* color: #18A0FB; */
  border: 1px solid #18A0FB;
  border-radius: 5px;
}

.algorithmInfo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 30px;
  /* border: 1px solid red; */
}

.algorithmName {
  font-size: 1.5rem;
  font-weight: bold;
}
.conceptualOverview {
  width: 100%;
  /* border: 1px solid turquoise; */
  margin: 0px 0px 30px 0px;
}

.complexity {
  width: 100%;
  /* border: 1px solid turquoise; */
  margin: 0px 0px 30px 0px;
}

.title {
  /* border: 1px solid red; */
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-top: 0px;
  font-weight: bold;
  color: rgb(58, 66, 68);
}

.details {
  /* border: 1px solid red; */
  text-align: justify;
  margin-top: 15px;
  color: #4D4949;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;

}
